PUSHI 0
STOREG 0
PUSHI 0
STOREG 1
PUSHI 0
STOREG 2
PUSHI 0
STOREG 3
PUSHI 0
STOREG 4
PUSHI 0
STOREG 5
PUSHI 0
STOREG 6
PUSHI 0
STOREG 7
PUSHI 0
STOREG 8
PUSHI 0
STOREG 9
PUSHI 0
STOREG 10
PUSHI 0
STOREG 11
PUSHI 0
STOREG 12
PUSHI 0
STOREG 13
PUSHGP
PUSHI 0
PUSHI 5
ADD
PUSHI 12
STOREN
PUSHGP
PUSHI 10
PUSHI 1
ADD
PUSHI 30
STOREN
PUSHGP
PUSHI 0
PUSHI 5
ADD
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 10
PUSHI 1
ADD
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 10
PUSHI 0
ADD
LOADN
WRITEI
WRITELN