PUSHI 0
STOREG 0
PUSHI 0
STOREG 1
PUSHI 0
STOREG 2
PUSHI 0
STOREG 3
PUSHI 0
STOREG 4
PUSHI 0
STOREG 5
PUSHI 0
STOREG 6
PUSHI 0
STOREG 7
PUSHI 0
STOREG 8
PUSHI 0
STOREG 9
PUSHI 0
STOREG 10
L1: NOP
PUSHG 10
PUSHI 10
INF
JZ L2
PUSHGP
PUSHI 0
PUSHG 10
ADD
PUSHG 10
STOREN
PUSHGP
PUSHI 0
PUSHG 10
ADD
LOADN
PUSHI 2
MOD
PUSHI 0
EQUAL
JZ L4
PUSHGP
PUSHI 0
PUSHG 10
ADD
LOADN
WRITEI
WRITELN
L4: NOP
PUSHG 10
PUSHI 1
ADD
STOREG 10
JUMP L1
L2: NOP