PUSHI 5
STOREG 0
PUSHI 30
STOREG 1
PUSHI 0
STOREG 2
PUSHI 0
STOREG 3
PUSHI 0
STOREG 4
PUSHI 0
STOREG 5
PUSHI 0
STOREG 6
PUSHI 0
STOREG 7
PUSHI 0
STOREG 8
PUSHI 0
STOREG 9
PUSHI 0
STOREG 10
PUSHI 0
STOREG 11
PUSHGP
PUSHI 2
PUSHI 2
ADD
PUSHG 0
PUSHG 1
ADD
STOREN
PUSHG 0
PUSHI 0
SUP
JZ L2
PUSHGP
PUSHI 2
PUSHI 2
ADD
LOADN
WRITEI
WRITELN
L2: NOP